
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #5f58fe;
    --background-color: #000;
    --background-secondary: #ffffff1a;
    --back-light: #151621;
    --border-color: #e6e6e6;
    --text-secondary: #fff9;
    --text-gray: #737A88;
    --black-light-gradient: linear-gradient( #000, #4f4f4f);

}
body {
    font-family: "Inter Tight", sans-serif;
}
.nav-container {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;

}
.nav-links {
    gap: 30px;
    display: flex;
    align-items: center;
}
li a {
    color: white;
    font-weight: 500;
    transition: all 0.3s;
}
li a:hover {
    color: var(--primary-color);
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.cart {
    color: white;
    position: relative;
}
.cart .badge {
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right:-10px ;
}
.btn {
    padding: 15px 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;  
}
.text-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.first-text, .second-text {
    transition: all 0.2s linear;
}
.pricing-button .text-wrap {
    align-items: center;
}
.btn:hover .first-text {
    transform: translateY(-15px);
}
.btn:hover .second-text {
    top: 0px;
}
.second-text {
    position: absolute;
    top: 15px;
}
.hero-section {
    background-color: var(--background-color);
    padding-top: 200px;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
}
.hero-section-left {
    width: 60%;
}
.sub-heading {
    display: flex;
    gap: 10px;
    background-color: var(--background-secondary);
    align-items: center;
    width: max-content;
    padding: 6px 6px;
    padding-left: 14px;
    border-radius: 200px;
    border: 1px solid #ffffff0d;
}
.sub-heading .p {
    font-size: 13px;
    font-weight: 500;
}
.arrow-right-container {
    width: 30px;
    height: 30px;
    background-color:#ffffff0d ;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section-left h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 30px;
}
.hero-section-left > p {
    width: 80%;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 20px;
    color: var(--text-secondary) ;
}
.hero-button-container {
    gap: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.hero-get-started , .how-it-works {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 20px ;
}
.how-it-works {
    background-color: #151621;
    border:1px solid var(--border-color) ;
    
}
.hero-section-right {
    width: 40%;
    position: relative;
}
.hero-section-right img {
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    z-index: 10;
    position: relative;
}
 .image-back-drop {
    width: 100%;
    position: absolute; 
    left: 0px;
    top: 150px;
    height: 500px;
    z-index: 0;

}
.image-back-drop img {
    width: 100%;
    height: 100%;
}
.hero-image-slider {
    background-color: var(--background-color);
    color: var(--text-secondary);
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.image-sliders {
    display: flex;
    gap: 100px;
    flex-wrap: nowrap;
    margin-top: 20px;
    flex-shrink: 0;
    animation: slider 17s linear  infinite  ;
    overflow: hidden;     
}
.slider-wrapper {
    display: flex;
    gap: 50px;
    overflow: hidden;
}
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.hero-get-started  .second-text,
.how-it-works .second-text, 
.pricing-button .second-text {
    top: 20px;
}
.hero-get-started:hover .first-text,
.how-it-works:hover .first-text, 
.pricing-button:hover .first-text {
    transform: translateY(-20px);
}
.hero-get-started:hover .second-text,
 .how-it-works:hover .second-text{
    top: 0px;
}
.hero-get-started:hover .first-icon {
    transform: translateX(20px);
}
.hero-get-started:hover .second-icon {
    left: 0px;
}
.first-icon, .second-icon {
    transition: all 0.3s linear;
}
.icon-wrap {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.second-icon {
    position: absolute;
    left: 20px;
}
.feature-section {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 150px;
}
.feature-heading {
    font-size: 50px;
    font-weight: 500;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.feature-subheading {
    font-size: 19px;
    font-weight: 400;
    color: var(--text-gray);
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.feature-grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.feature-card {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 40px 30px;
}
.feature-card h1 {
    font-size: 30px;
    font-weight: 500;
}
.feature-card p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    color: var(--text-gray);
}
.feature-card img {
    width: 100%;
    margin-top: 20px;
}
.first-feature-card {
    grid-column: 1 /span 2;
}
.second-feature-card {
    grid-column: 3/ span 3 ;
}
.third-feature-card {
    grid-column: 1/ span 3;
}
.fourth-feature-card {
    grid-column: 4/ span 2 ;
}
.about-section {
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    background-color: #f9fafc;
    padding: 80px 50px;
}
.about-heading {
    display: flex;
    align-items: center;
    gap: 100px;
}
.about-heading-left {
    width: 50%;
}
.about-heading-left > p {
    font-size: 55px;
    font-weight: 600;
    width: 70%;
}
.about-heading-right {
    width: 50%;
}
.about-heading-right > p {
    font-size: 20px;
    color: var(--text-gray);
    margin-bottom: 20px;
}
.about-grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 70px;
}
.about-card {
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.icon-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-image: var(--black-light-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about-card h1 {
    font-size: 25px;
    font-weight: 500;
}
.about-card p {
    font-size: 18px;
    color: var(--text-gray);
    width: 70%;
    text-align: center;
}
.about-flex-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}
.about-flex-container .about-card {
    width: 33%;
}
.pricing-section {
   margin-top: 100px;
   margin-left: 20px;
   margin-right: 20px; 
   background-color: var(--background-color);
   border-radius: 20px;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 60px;
   padding-bottom: 60px;
}
.pricing-section > h1 {
    font-weight: 500;
    width: 40%;
    font-size: 50px;
    text-align: center;
}
.pricing-section > p {
    font-size: 20px;
    color: var(--text-gray);
    margin-top: 20px;
}
.pricing-tabs {
    margin-top: 60px;
    width: 50%;
    border: 1px solid var(--border-color);
    border-radius: 300px;
    padding: 5px;
    display: flex;
}
.monthly {
    width: 50%;
    background-color: white;
    padding: 20px 0px;
    border-radius: 200px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.annual {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    gap: 10px;
}
.save-badge {
    font-size: 15px;
    font-weight: 400;
    background-color: var(--primary-color);
    padding: 3px 5px;
    border-radius: 20px;
}
.pricing-grid-container {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;  
    margin-top: 50px;
}
.basic-card, .premium-card {
    background-color: white;
    border-radius: 30px;
    padding: 50px 30px;
}
.premium-card {
    background-color: var(--primary-color);
}
.pricing-grid-container .icon-container {
    width: 50px;
    height: 50px;
    background: var(--text-secondary);
}
.premium-card .icon-container {
    background-color: white;
}
.basic-card > h1,
.premium-card > h1 {
    color: black;
    margin: 10px;
    font-weight: 500;
}
.premium-card > h1 {
    color:white ;
}
.basic-card > p, .premium-card > p{
    font-size: 20px;
    color: var(--text-gray);
}
.premium-card > p {
    color: white;
}
.price {
    display: flex;
    align-items: end;
    margin-top: 40px;
    margin-bottom: 30px
}
.basic-card .price > p,
.premium-card .price > p {
    font-size: 57px;
    color: var(--primary-color);
    font-weight: 500;
    line-height: 0.9 ;
}
.premium-card .price > p {
    color:white ;
}
.basic-card .price > span,
.premium-card .price > span {
    font-size: 18px;
    color: var(--text-gray);
}
.premium-card .price > span {
    color: white;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
}
.features {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature {
    display: flex;
    color: black;
    gap: 20px;
    font-size: 18px;
}
.check-container {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-secondary);
    border-radius: 50% ;
}
.premium-card .check-container {
    background-color: var(--primary-color);
}
.premium-card .feature > p {
    color: white;
}
.pricing-button {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    font-size: 20px;
}
.premium-card .pricing-button {
    color: black;
    background-color: white;
}
.review-section {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid var(--border-color) ;
    padding-bottom: 70px;
}
.review-section > h1 {
    font-size: 60px;
    font-weight: 500;
}
.review-section > p {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-gray);
    width: 50%;
    text-align: center;
    margin-top: 30px;
}
.review-grid {
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.review-card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
}
.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-header > p {
    font-size: 35px;
    font-weight: 600;
}
.stars {
    display: flex;
    gap: 6px;
    align-items: center;
}
.opacity-05 {
    opacity: 0.5;
}
.review-card > p {
    font-size: 16px;
    color: var(--text-gray);
    margin-top: 20px;
    border-bottom: 1px dotted var(--border-color);
    padding-bottom: 30px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px ;
}
.user-info > img {
    width: 40px;
}
.user-name > h1 {
    font-size: 15px;
    font-weight: 500;
}
.user-name > p {
    font-size: 14px;
    color: var(--text-gray);
    margin-top: 5px;
}
.review-section .hero-get-started {
    margin-top: 30px;
}
.application-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 500px;
    position: relative;
    overflow: hidden;
}
.application-section > h1 {
    font-size: 58px;
    font-weight: 500;
    width: 40%;
    text-align: center;
    line-height: 1.1 ;
}
.application-section > p {
    font-size: 20px;
    color: var(--text-gray);
    font-weight: 400;
    width: 40%;
    text-align: center;
    margin-top: 20px;
}
.application-section > .hero-get-started {
    margin-top: 30px;
}
.application-section > img {
    position: absolute;
}
.application-section > img {
    animation: scale 1s linear  infinite  ;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.image-1 {
    top: 100px;
    left: 120px;
}
.image-2 {
    top: 250px;
    left: 350px;
}
.image-3 {
    top: 340px;
    left: 560px;
}
.image-4 {
    top: 230px;
    left: 780px;
}
.image-5 {
    top: 200px;
    left: 960px;
}
.footer-grid div ul li:hover {
    transform: translateX(20px);
}
.footer-grid div ul li:hover a {
    color: white;
}
.footer-grid div ul li {
    transition: all 0.3s linear;
}
.footer-section {
    background-color:  #0e0d13 ;
    background-size: cover;
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 60px;
}
.footer-1 {
    grid-column: 1/ span 4;
}
.footer-1 > p {
     font-weight: 400;
     color: var(--text-gray);
     margin-top: 20px;
     font-size: 18px;
     width: 60%;
}
.footer-1 > span {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
}
.subscribe-form {
    display: flex;
    gap: 10px ;
    width: 60%;
}
.subscribe-form > input {
    width: 100%;
    border: none;
    background-color: #1c1a26;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    color: white;

}
.subscribe-form > button {
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    flex-shrink: 0;
}
.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.icon {
    width: 35px;
    height: 35px;
    border: 1px solid var( --border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-2 > h1, .footer-3 > h1, .footer-4 > h1 {
 color: white;
 font-size: 20px;
 font-weight: 500;
}
.footer-2 > ul, .footer-3 > ul, .footer-4 > ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    
}
.footer-2 > ul li a, .footer-3 > ul li a, .footer-4 > ul li a{
    color: var(--text-gray);
}
.footer-section > p {
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    color: var(--text-gray);
    font-weight: 500;
}
.footer-section > p > span {
    color: white;
}
@media (max-width:1024px) {
    .nav-container,.hero-section,.image-sliders,
    .feature-section,.about-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .pricing-section > h1 {
        font-size: 60px;
        width: 80%;
    }
    .pricing-tabs {
        width: 80%;
    }
    .pricing-grid-container {
        width: 96%;
    }
    .review-section {
        margin-left: 10px;
        margin-right: 10px;
    }
    .review-grid {
        gap: 10px;
    }
    .application-section > h1 {
        width: 60%;
    }
    .application-section > p {
        width: 60%;
    }
    .footer-section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .subscribe-form {
        width: 70%;
    }
    .feature-heading {
        font-size: 60px;
        width: 60%;
    }
    .feature-subheading {
        width: 60%;
    }
    .about-heading-left > p {
        width: 100%;
    }
    .about-heading {
        gap:20px;
    }
}


